# Ejercicio 1
> Crea una lista "asignaturas" con los textos "matematicas","fisica", "historia"
> Crea una lista "notas" con los valores 9,9,8
> Crea una serie con las listas "notas" con los valores, y la lista "asignaturas" como indices
> Crea la variable "nota_fisica" con la nota de la asignatura "fisica"
> Usando el print, mostrar la frase "la nota de fisica es un:...."

In [2]:
import numpy as np
import pandas as pd

In [21]:
asignaturas = ["matematicas","fisica","historia"]
notas = [9,9,8]

In [22]:
serie = pd.Series(data=notas,index=asignaturas)

In [23]:
serie

matematicas    9
fisica         9
historia       8
dtype: int64

In [30]:
nota_fisica = serie["fisica"]
print("La nota de fisica es un: {}".format(nota_fisica))

La nota de fisica es un: 9


# Ejercicio 2
> El objetivo es crear un dataframe con las ventas de nuestras 3 oficias para los meses de enero, febrero y marzo.
Pasos:
> Crear una variable "ventas_enero" que contenga una lista de 3 numeros enteros aleatorios entre 100 y 500
> Crear una variable "ventas_febrero" que contenga una lista de 3 numeros enteros aleatorios entre 100 y 500
> Crear una variable "ventas_marzo" que contenga una lista de 3 numeros enteros aleatorios entre 100 y 500
> crear una variable "filas" que contenga esta lista de palabras "ventas_enero","ventas_febrero","ventas_marzo"
> Crear una variable "columnas" que contenga esta lista de palabras: "oficina_1","oficina_2","oficina_3"
> Crear una variable "ventas" que contenga una lista con los valores de ventas de enero, febrero y marzo
> Crea una variable "dataframe" que contenga las ventas, filas y columnas
Usar print para mostrar el valor de enero para las oficina 1

In [32]:
import numpy as np
import pandas as pd

In [42]:
ventas_enero = [np.random.randint(100,500),np.random.randint(100,500),np.random.randint(100,500)]
ventas_febrero = [np.random.randint(100,500),np.random.randint(100,500),np.random.randint(100,500)]
ventas_marzo = [np.random.randint(100,500),np.random.randint(100,500),np.random.randint(100,500)]
ventas_enero

[384, 297, 272]

In [43]:
filas = ["ventas_enero","ventas_febrero","ventas_marzo"]
columnas = ["oficina_1","oficina_2","oficina_3"]
ventas= [ventas_enero,ventas_febrero,ventas_marzo]
ventas

[[384, 297, 272], [117, 458, 352], [429, 232, 221]]

In [44]:
dataframe = pd.DataFrame(ventas,filas,columnas)
dataframe

                oficina_1  oficina_2  oficina_3
ventas_enero          384        297        272
ventas_febrero        117        458        352
ventas_marzo          429        232        221

In [46]:
print("El valor de ventas de la oficina 1 en enero es de: {}".format(dataframe["oficina_1"]["ventas_enero"]))

El valor de ventas de la oficina 1 en enero es de: 384