# Random forest - clasificación

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
cd ../Datasets

C:\Users\erik_\Curso-IA-Udemy\Datasets

In [3]:
ls

 El volumen de la unidad C no tiene etiqueta.
 El número de serie del volumen es: 9C30-9931

 Directorio de C:\Users\erik_\Curso-IA-Udemy\Datasets

05/08/2021  00:04    <DIR>          .
05/08/2021  00:04    <DIR>          ..
17/07/2021  13:32           726.209 USA_Housing.csv
04/08/2021  20:02            86.768 vehiculos.csv
04/08/2021  22:04            12.895 vino.csv
               3 archivos        825.872 bytes
               2 dirs  53.468.102.656 bytes libres

In [4]:
vinos = pd.read_csv('vino.csv')

In [5]:
vinos.head()

,Alcohol,Malic acid,Ash,Alcalinity of ash,Magnesium,Total phenols,Flavanoids,Nonflavanoid phenols,Proanthocyanins,Color intensity,Hue,OD280/OD315 of diluted wines,Proline,Wine Type
0,14.23,1.71,2.43,15.6,127.0,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065.0,One
1,13.20,1.78,2.14,11.2,100.0,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050.0,One
2,13.16,2.36,2.67,18.6,101.0,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185.0,One
3,14.37,1.95,2.50,16.8,113.0,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480.0,One
4,13.24,2.59,2.87,21.0,118.0,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735.0,One

In [6]:
x = vinos.drop('Wine Type', axis=1)
y = vinos['Wine Type']

In [7]:
from sklearn.model_selection import train_test_split

In [8]:
X_train, X_test , y_train, y_test = train_test_split(x,y,test_size=0.3)

In [9]:
from sklearn.ensemble import RandomForestClassifier

In [10]:
randomForest = RandomForestClassifier(n_estimators=80) #n_estimators -> numero de arboles

In [11]:
randomForest.fit(X_train, y_train)

RandomForestClassifier(n_estimators=80)

In [12]:
predicciones = randomForest.predict(X_test)

In [13]:
predicciones

array(['One', 'Two', 'Three', 'Three', 'Three', 'One', 'Two', 'One',
       'Three', 'Two', 'Three', 'Two', 'One', 'Two', 'One', 'One',
       'Three', 'Three', 'Two', 'Two', 'Two', 'Two', 'Three', 'Three',
       'One', 'One', 'Three', 'Two', 'Three', 'Three', 'Two', 'Three',
       'Two', 'One', 'One', 'One', 'Two', 'Three', 'Two', 'Three', 'Two',
       'Three', 'Three', 'Two', 'Three', 'Two', 'One', 'One', 'One',
       'One', 'Two', 'Two', 'One', 'Two'], dtype=object)

In [16]:
y_test.head()

14       One
66       Two
172    Three
167    Three
164    Three
Name: Wine Type, dtype: object

In [17]:
from  sklearn.metrics import classification_report, confusion_matrix

In [18]:
print(classification_report(y_test,predicciones))

              precision    recall  f1-score   support

         One       1.00      1.00      1.00        16
       Three       1.00      1.00      1.00        18
         Two       1.00      1.00      1.00        20

    accuracy                           1.00        54
   macro avg       1.00      1.00      1.00        54
weighted avg       1.00      1.00      1.00        54

In [19]:
print(confusion_matrix(y_test, predicciones))

[[16  0  0]
 [ 0 18  0]
 [ 0  0 20]]