In [1]:
import pandas as pd
import numpy as np
import matplotlib as pl

In [2]:
pagina_web = "https://es.wikipedia.org/wiki/Anexo:Pa%C3%ADses_y_territorios_dependientes_por_poblaci%C3%B3n"

In [25]:
datos = pd.read_html(pagina_web)
datos[0]

,№,País (o territorio dependiente),Proyecciónexponencialde lapoblaciónal1/7/2021[8]​,% deltotalmun-dial,Cambiomedioanual(%)[9]​,Cambioabsolutoanualpromedio,% delcambiomedioabs.total anual,Añosparaeven-tualdu-pli-ca-ción[10]​,"Censo másreciente,últimaestimaciónoficial,proyecciónde la ONUo reloj depoblaciónnacional",Fecha(d/mm/aaaa)[11]​,Tipo[12]​,Enlace o hipervínculo(usualmente de tipo oficial)de esta última cifra de población
0,1,China[13]​,1 416 687 000,1814,053,7 440 000,785,132,1 411 778 724,1/11/2020,C,www.citypopulation.de
1,2,India,1 389 754 000,1779,134,18 653 000,1968,52,1 386 527 000,15/07/2021,R,www.indiastat.com
2,3,Estados Unidos,334 398 000,428,071,2 381 000,251,98,332 525 000,15/07/2021,R,www.census.gov
3,4,Indonesia,272 819 000,349,109,2 972 000,314,64,271 350 000,31/12/2020,E,www.bps.go.id
4,5,Pakistán,225 200 000,288,230,5 189 000,547,30,225 200 000,1/07/2021,O,esa.un.org
...,...,...,...,...,...,...,...,...,...,...,...,...
241,242,Islas Cocos (Australia),600,000,011,0,000,604,555,30/06/2019,E,www.citypopulation.de
242,243,Islas Ultramarinas Menores de los Estados Unidos,100,000,-496,0,000,-,190,1/04/2010,C,www.statoids.com
243,244,Islas Pitcairn (RU),40,000,-083,0,000,-,40,1/01/2021,E,www.visitpitcairn.pn
244,NaN,Mundo,7 810 521 000,10000,121,94 778 000,10000,58,7 902 894 000,15/07/2021,R,countrymeters.info
245,N°,País (o territorio dependiente),Proyecciónexponencialde lapoblaciónal1/7/2021,% deltotalmun-dial,Cambiomedioanual(%),Cambioabsolutoanualpromedio,% delcambiomedioabs.totalanual,Añosparaeven-tualdu-pli-ca-ción,"Censo másreciente,últimaestimaciónoficial,proy...",Fecha(d/mm/aaaa),Tipo,Enlace o hipervínculo(usualmente de tipo ofici...

In [37]:


dataframeCensos = pd.DataFrame(datos[0]["Censo másreciente,últimaestimaciónoficial,proyecciónde la ONUo reloj depoblaciónnacional"])
dataframePaises = pd.DataFrame(datos[0]["País (o territorio dependiente)"])
dataframeDatos = pd.concat([dataframePaises,dataframeCensos],axis=1)
dataframeDatos

,País (o territorio dependiente),"Censo másreciente,últimaestimaciónoficial,proyecciónde la ONUo reloj depoblaciónnacional"
0,China[13]​,1 411 778 724
1,India,1 386 527 000
2,Estados Unidos,332 525 000
3,Indonesia,271 350 000
4,Pakistán,225 200 000
...,...,...
241,Islas Cocos (Australia),555
242,Islas Ultramarinas Menores de los Estados Unidos,190
243,Islas Pitcairn (RU),40
244,Mundo,7 902 894 000
245,País (o territorio dependiente),"Censo másreciente,últimaestimaciónoficial,proy..."

In [43]:
dict = {'País (o territorio dependiente)': 'Pais',
        'Censo másreciente,últimaestimaciónoficial,proyecciónde la ONUo reloj depoblaciónnacional': 'Censo'}
dataframeDatos.rename(columns=dict,inplace=True)

In [44]:
dataframeDatos

,Pais,Censo
0,China[13]​,1 411 778 724
1,India,1 386 527 000
2,Estados Unidos,332 525 000
3,Indonesia,271 350 000
4,Pakistán,225 200 000
...,...,...
241,Islas Cocos (Australia),555
242,Islas Ultramarinas Menores de los Estados Unidos,190
243,Islas Pitcairn (RU),40
244,Mundo,7 902 894 000
245,País (o territorio dependiente),"Censo másreciente,últimaestimaciónoficial,proy..."

In [52]:
dataframeDatos.loc(["India"])

TypeError: unhashable type: 'list'