# Ficheros Excel

In [1]:
import pandas as pd

In [2]:
pwd

'C:\\Users\\erik_\\Curso-IA-Udemy\\Pandas'

In [4]:
ls

 El volumen de la unidad C no tiene etiqueta.
 El n√∫mero de serie del volumen es: 9C30-9931

 Directorio de C:\Users\erik_\Curso-IA-Udemy\Pandas

14/07/2021  19:35    <DIR>          .
14/07/2021  19:35    <DIR>          ..
14/07/2021  19:29    <DIR>          .ipynb_checkpoints
14/07/2021  18:57            13.848 Agrupacion de datos.ipynb
14/07/2021  19:02             9.422 Combinar dataframes.ipynb
14/07/2021  18:38            39.768 DataFrames.ipynb
14/07/2021  19:35             9.442 ejemplo_excel.xlsx
14/07/2021  19:31             2.607 Ficheros Excel.ipynb
14/07/2021  19:12             6.670 Join dataframes.ipynb
14/07/2021  19:29            16.234 Operaciones sobre dataframes.ipynb
14/07/2021  12:31             4.085 Pandas-Series.ipynb
14/07/2021  18:45            11.387 Tratamiento_valores_nulos(dataframe).ipynb
14/07/2021  19:06             6.558 Unir - Merge dataframes.ipynb
              10 archivos        120.021 bytes
               3 dirs  44.266.168.320 bytes libres

In [14]:
dataframe = pd.read_excel("ejemplo_excel.xlsx", index_col="id")

In [15]:
dataframe

     a   b   c   d
id
0    0   1   2   3
1    4   5   6   7
2    8   9  10  11
3   12  13  14  15

In [16]:
dataframe["e"] = [20,21,22,23]

In [17]:
dataframe

     a   b   c   d   e
id
0    0   1   2   3  20
1    4   5   6   7  21
2    8   9  10  11  22
3   12  13  14  15  23

In [18]:
dataframe.to_excel("salida_excel.xlsx",sheet_name="Hoja1")