# Series

In [2]:
import numpy as np
import pandas as pd

In [3]:
etiquetas = ['a','b','c'] #etiquetas seria como el indice
datos = [1,2,3]
pd.Series(data = datos,index=etiquetas)

a    1
b    2
c    3
dtype: int64

In [16]:
array = np.arange(5,10)
etiqueta = ["venta0","venta1","venta2","venta3","venta4"]
serie1 = pd.Series(array,etiqueta)
serie1

venta0    5
venta1    6
venta2    7
venta3    8
venta4    9
dtype: int32

In [17]:
serie1["venta1"]

6

In [18]:
serie1[3]

8

In [19]:
datos2 = ["informatica",300,"taza",True]

In [20]:
pd.Series(datos2)

0    informatica
1            300
2           taza
3           True
dtype: object

In [33]:
serie1 = pd.Series([1,2,3,6],["a","b","c","ventas4"])
serie2 = pd.Series([4,2,6],["a","b","c"])

In [34]:
serie_suma = serie1 + serie2 #si las etiquetas son iguales, se suman sus valores, sino, da nulo.
serie_suma

a          5.0
b          4.0
c          9.0
ventas4    NaN
dtype: float64